--
-- PostgreSQL database dump
--

\restrict 0MtOKpyyD9N4wuuddh6z2otVymwTP7aTxJSjinsC4bpfbhwQrbnGnLuQih7wNe4

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: pos_attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_attendance (
    id bigint NOT NULL,
    date date NOT NULL,
    check_in timestamp with time zone NOT NULL,
    check_out timestamp with time zone,
    is_present boolean NOT NULL,
    notes character varying(255) NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.pos_attendance OWNER TO postgres;

--
-- Name: pos_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.pos_category OWNER TO postgres;

--
-- Name: pos_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_employee (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    phone character varying(15) NOT NULL,
    base_salary numeric(10,2) NOT NULL,
    joined_at date NOT NULL,
    is_active boolean NOT NULL,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.pos_employee OWNER TO postgres;

--
-- Name: pos_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_expense (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    description text NOT NULL,
    category_id bigint NOT NULL,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.pos_expense OWNER TO postgres;

--
-- Name: pos_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_expense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_expense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_expensecategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_expensecategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.pos_expensecategory OWNER TO postgres;

--
-- Name: pos_expensecategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_expensecategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_expensecategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_menuitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_menuitem (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    is_available boolean NOT NULL,
    category_id bigint NOT NULL,
    restaurant_id bigint NOT NULL,
    short_code character varying(50),
    menu_file_id bigint
);


ALTER TABLE public.pos_menuitem OWNER TO postgres;

--
-- Name: pos_menuitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_menuitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_menuitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_menuvariant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_menuvariant (
    id bigint NOT NULL,
    size_name character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    menu_item_id bigint NOT NULL
);


ALTER TABLE public.pos_menuvariant OWNER TO postgres;

--
-- Name: pos_menuvariant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_menuvariant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_menuvariant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_order (
    id bigint NOT NULL,
    order_type character varying(20) NOT NULL,
    customer_name character varying(100),
    customer_phone character varying(15),
    delivery_address text,
    created_at timestamp with time zone NOT NULL,
    payment_status character varying(10) NOT NULL,
    payment_mode character varying(10),
    is_settled boolean NOT NULL,
    apply_gst boolean NOT NULL,
    grand_total numeric(10,2) NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    discount_type character varying(10) NOT NULL,
    discount_note text,
    is_cancelled boolean NOT NULL,
    cancel_reason text,
    restaurant_id bigint NOT NULL,
    table_id bigint,
    prep_status character varying(30) NOT NULL,
    bill_printed_at timestamp with time zone,
    closed_at timestamp with time zone,
    kot_printed_at timestamp with time zone
);


ALTER TABLE public.pos_order OWNER TO postgres;

--
-- Name: pos_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    notes text NOT NULL,
    is_printed_to_kitchen boolean NOT NULL,
    is_cancelled boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    menu_variant_id bigint NOT NULL,
    order_id bigint NOT NULL,
    CONSTRAINT pos_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.pos_orderitem OWNER TO postgres;

--
-- Name: pos_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_restaurant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_restaurant (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    address text,
    phone character varying(15),
    gst_number character varying(15) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.pos_restaurant OWNER TO postgres;

--
-- Name: pos_restaurant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_restaurant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_restaurant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_salarypayment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_salarypayment (
    id bigint NOT NULL,
    payment_date date NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    deductions numeric(10,2) NOT NULL,
    month_year character varying(20) NOT NULL,
    payment_note text NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.pos_salarypayment OWNER TO postgres;

--
-- Name: pos_salarypayment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_salarypayment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_salarypayment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_table (
    id bigint NOT NULL,
    table_number character varying(10) NOT NULL,
    capacity integer NOT NULL,
    status character varying(20) NOT NULL,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.pos_table OWNER TO postgres;

--
-- Name: pos_table_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_table ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_table_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pos_uploadedmenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_uploadedmenu (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    restaurant_id bigint NOT NULL
);


ALTER TABLE public.pos_uploadedmenu OWNER TO postgres;

--
-- Name: pos_uploadedmenu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pos_uploadedmenu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pos_uploadedmenu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	pos	attendance
8	pos	category
9	pos	employee
10	pos	expense
11	pos	expensecategory
12	pos	menuitem
13	pos	menuvariant
14	pos	order
15	pos	orderitem
16	pos	restaurant
17	pos	salarypayment
18	pos	table
19	pos	uploadedmenu
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_category (id, name, restaurant_id) FROM stdin;
1	Tandoor	1
2	Drinks	1
3	Indian	1
4	Rice	1
5	Pizza	1
6	Bread	1
11	Scanned Menu Items	1
\.


--
-- Data for Name: pos_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_employee (id, name, role, phone, base_salary, joined_at, is_active, restaurant_id) FROM stdin;
1	Irfan	MANAGER	6005278272	15000.00	2026-06-03	t	1
2	Ishtiyaq	CHEF	6005316724	20000.00	2026-06-03	t	1
3	zakir	DELIVERY	9149562695	10000.00	2026-06-03	t	1
4	Shakir	WAITER	6006829719	11000.00	2026-06-03	t	1
\.


--
-- Data for Name: pos_expense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_expense (id, title, amount, date, description, category_id, restaurant_id) FROM stdin;
1	irfan salary	2000.00	2026-06-03		6	1
2	generator	500.00	2026-06-03		5	1
3	coca cola	3000.00	2026-06-05		2	1
4	Staff sabzi + roti	430.00	2026-06-05		4	1
5	coca cola	20000.00	2026-06-12		2	1
\.


--
-- Data for Name: pos_expensecategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_expensecategory (id, name) FROM stdin;
1	Kitchen Stock
2	Drinks
3	Milk
4	Mess
5	Petrol
6	Salary
\.


--
-- Data for Name: pos_menuitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_menuvariant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_restaurant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_restaurant (id, name, address, phone, gst_number, is_active) FROM stdin;
1	Zero Miles Kupwara	2nd floor Al Shayan Complex, iqbal market opposite sdh kupwara	09149562695		t
\.


--
-- Data for Name: pos_salarypayment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_salarypayment (id, payment_date, amount_paid, deductions, month_year, payment_note, employee_id) FROM stdin;
1	2026-06-03	2000.00	0.00	may		1
\.


--
-- Data for Name: pos_table; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_table (id, table_number, capacity, status, restaurant_id) FROM stdin;
6	6	4	AVAILABLE	1
3	3	4	AVAILABLE	1
1	1	6	AVAILABLE	1
2	2	10	AVAILABLE	1
4	4	4	AVAILABLE	1
5	5	4	AVAILABLE	1
\.


--
-- Data for Name: pos_uploadedmenu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_uploadedmenu (id, image, uploaded_at, restaurant_id) FROM stdin;
45	menu_scans/2026/06/ZM_MENU.jpeg	2026-06-14 02:25:26.195809+05:30	1
46	menu_scans/2026/06/ZM_MENU_2.jpeg	2026-06-14 02:25:29.612816+05:30	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 326, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 26, true);


--
-- Name: pos_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_attendance_id_seq', 24, true);


--
-- Name: pos_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_category_id_seq', 11, true);


--
-- Name: pos_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_employee_id_seq', 4, true);


--
-- Name: pos_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_expense_id_seq', 5, true);


--
-- Name: pos_expensecategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_expensecategory_id_seq', 6, true);


--
-- Name: pos_menuitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_menuitem_id_seq', 300, true);


--
-- Name: pos_menuvariant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_menuvariant_id_seq', 308, true);


--
-- Name: pos_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_order_id_seq', 145, true);


--
-- Name: pos_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_orderitem_id_seq', 238, true);


--
-- Name: pos_restaurant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_restaurant_id_seq', 1, true);


--
-- Name: pos_salarypayment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_salarypayment_id_seq', 1, true);


--
-- Name: pos_table_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_table_id_seq', 6, true);


--
-- Name: pos_uploadedmenu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pos_uploadedmenu_id_seq', 46, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: pos_attendance pos_attendance_employee_id_date_9f61b8d9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_attendance
    ADD CONSTRAINT pos_attendance_employee_id_date_9f61b8d9_uniq UNIQUE (employee_id, date);


--
-- Name: pos_attendance pos_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_attendance
    ADD CONSTRAINT pos_attendance_pkey PRIMARY KEY (id);


--
-- Name: pos_category pos_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_category
    ADD CONSTRAINT pos_category_pkey PRIMARY KEY (id);


--
-- Name: pos_category pos_category_restaurant_id_name_db269081_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_category
    ADD CONSTRAINT pos_category_restaurant_id_name_db269081_uniq UNIQUE (restaurant_id, name);


--
-- Name: pos_employee pos_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_employee
    ADD CONSTRAINT pos_employee_pkey PRIMARY KEY (id);


--
-- Name: pos_expense pos_expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_expense
    ADD CONSTRAINT pos_expense_pkey PRIMARY KEY (id);


--
-- Name: pos_expensecategory pos_expensecategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_expensecategory
    ADD CONSTRAINT pos_expensecategory_pkey PRIMARY KEY (id);


--
-- Name: pos_menuitem pos_menuitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuitem
    ADD CONSTRAINT pos_menuitem_pkey PRIMARY KEY (id);


--
-- Name: pos_menuvariant pos_menuvariant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuvariant
    ADD CONSTRAINT pos_menuvariant_pkey PRIMARY KEY (id);


--
-- Name: pos_order pos_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_order
    ADD CONSTRAINT pos_order_pkey PRIMARY KEY (id);


--
-- Name: pos_orderitem pos_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_orderitem
    ADD CONSTRAINT pos_orderitem_pkey PRIMARY KEY (id);


--
-- Name: pos_restaurant pos_restaurant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_restaurant
    ADD CONSTRAINT pos_restaurant_pkey PRIMARY KEY (id);


--
-- Name: pos_salarypayment pos_salarypayment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_salarypayment
    ADD CONSTRAINT pos_salarypayment_pkey PRIMARY KEY (id);


--
-- Name: pos_table pos_table_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_table
    ADD CONSTRAINT pos_table_pkey PRIMARY KEY (id);


--
-- Name: pos_table pos_table_restaurant_id_table_number_7caa2eea_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_table
    ADD CONSTRAINT pos_table_restaurant_id_table_number_7caa2eea_uniq UNIQUE (restaurant_id, table_number);


--
-- Name: pos_uploadedmenu pos_uploadedmenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_uploadedmenu
    ADD CONSTRAINT pos_uploadedmenu_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: pos_attendance_employee_id_1b9db0ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_attendance_employee_id_1b9db0ec ON public.pos_attendance USING btree (employee_id);


--
-- Name: pos_category_restaurant_id_8c8bf69e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_category_restaurant_id_8c8bf69e ON public.pos_category USING btree (restaurant_id);


--
-- Name: pos_employee_restaurant_id_8cdc19c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_employee_restaurant_id_8cdc19c3 ON public.pos_employee USING btree (restaurant_id);


--
-- Name: pos_expense_category_id_55bde6d6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_expense_category_id_55bde6d6 ON public.pos_expense USING btree (category_id);


--
-- Name: pos_expense_restaurant_id_d8e448ad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_expense_restaurant_id_d8e448ad ON public.pos_expense USING btree (restaurant_id);


--
-- Name: pos_menuitem_category_id_eec9429e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_menuitem_category_id_eec9429e ON public.pos_menuitem USING btree (category_id);


--
-- Name: pos_menuitem_menu_file_id_2b46cb5c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_menuitem_menu_file_id_2b46cb5c ON public.pos_menuitem USING btree (menu_file_id);


--
-- Name: pos_menuitem_restaurant_id_d248419e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_menuitem_restaurant_id_d248419e ON public.pos_menuitem USING btree (restaurant_id);


--
-- Name: pos_menuvariant_menu_item_id_c5856aec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_menuvariant_menu_item_id_c5856aec ON public.pos_menuvariant USING btree (menu_item_id);


--
-- Name: pos_order_restaurant_id_136043a5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_order_restaurant_id_136043a5 ON public.pos_order USING btree (restaurant_id);


--
-- Name: pos_order_table_id_4745e79b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_order_table_id_4745e79b ON public.pos_order USING btree (table_id);


--
-- Name: pos_orderitem_menu_variant_id_a9b296bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_orderitem_menu_variant_id_a9b296bf ON public.pos_orderitem USING btree (menu_variant_id);


--
-- Name: pos_orderitem_order_id_bb594e32; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_orderitem_order_id_bb594e32 ON public.pos_orderitem USING btree (order_id);


--
-- Name: pos_salarypayment_employee_id_43b19afd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_salarypayment_employee_id_43b19afd ON public.pos_salarypayment USING btree (employee_id);


--
-- Name: pos_table_restaurant_id_7d1d3403; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_table_restaurant_id_7d1d3403 ON public.pos_table USING btree (restaurant_id);


--
-- Name: pos_uploadedmenu_restaurant_id_0e2798ae; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pos_uploadedmenu_restaurant_id_0e2798ae ON public.pos_uploadedmenu USING btree (restaurant_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_attendance pos_attendance_employee_id_1b9db0ec_fk_pos_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_attendance
    ADD CONSTRAINT pos_attendance_employee_id_1b9db0ec_fk_pos_employee_id FOREIGN KEY (employee_id) REFERENCES public.pos_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_category pos_category_restaurant_id_8c8bf69e_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_category
    ADD CONSTRAINT pos_category_restaurant_id_8c8bf69e_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_employee pos_employee_restaurant_id_8cdc19c3_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_employee
    ADD CONSTRAINT pos_employee_restaurant_id_8cdc19c3_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_expense pos_expense_category_id_55bde6d6_fk_pos_expensecategory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_expense
    ADD CONSTRAINT pos_expense_category_id_55bde6d6_fk_pos_expensecategory_id FOREIGN KEY (category_id) REFERENCES public.pos_expensecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_expense pos_expense_restaurant_id_d8e448ad_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_expense
    ADD CONSTRAINT pos_expense_restaurant_id_d8e448ad_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_menuitem pos_menuitem_category_id_eec9429e_fk_pos_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuitem
    ADD CONSTRAINT pos_menuitem_category_id_eec9429e_fk_pos_category_id FOREIGN KEY (category_id) REFERENCES public.pos_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_menuitem pos_menuitem_menu_file_id_2b46cb5c_fk_pos_uploadedmenu_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuitem
    ADD CONSTRAINT pos_menuitem_menu_file_id_2b46cb5c_fk_pos_uploadedmenu_id FOREIGN KEY (menu_file_id) REFERENCES public.pos_uploadedmenu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_menuitem pos_menuitem_restaurant_id_d248419e_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuitem
    ADD CONSTRAINT pos_menuitem_restaurant_id_d248419e_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_menuvariant pos_menuvariant_menu_item_id_c5856aec_fk_pos_menuitem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_menuvariant
    ADD CONSTRAINT pos_menuvariant_menu_item_id_c5856aec_fk_pos_menuitem_id FOREIGN KEY (menu_item_id) REFERENCES public.pos_menuitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_order pos_order_restaurant_id_136043a5_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_order
    ADD CONSTRAINT pos_order_restaurant_id_136043a5_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_order pos_order_table_id_4745e79b_fk_pos_table_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_order
    ADD CONSTRAINT pos_order_table_id_4745e79b_fk_pos_table_id FOREIGN KEY (table_id) REFERENCES public.pos_table(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_orderitem pos_orderitem_menu_variant_id_a9b296bf_fk_pos_menuvariant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_orderitem
    ADD CONSTRAINT pos_orderitem_menu_variant_id_a9b296bf_fk_pos_menuvariant_id FOREIGN KEY (menu_variant_id) REFERENCES public.pos_menuvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_orderitem pos_orderitem_order_id_bb594e32_fk_pos_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_orderitem
    ADD CONSTRAINT pos_orderitem_order_id_bb594e32_fk_pos_order_id FOREIGN KEY (order_id) REFERENCES public.pos_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_salarypayment pos_salarypayment_employee_id_43b19afd_fk_pos_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_salarypayment
    ADD CONSTRAINT pos_salarypayment_employee_id_43b19afd_fk_pos_employee_id FOREIGN KEY (employee_id) REFERENCES public.pos_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_table pos_table_restaurant_id_7d1d3403_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_table
    ADD CONSTRAINT pos_table_restaurant_id_7d1d3403_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pos_uploadedmenu pos_uploadedmenu_restaurant_id_0e2798ae_fk_pos_restaurant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_uploadedmenu
    ADD CONSTRAINT pos_uploadedmenu_restaurant_id_0e2798ae_fk_pos_restaurant_id FOREIGN KEY (restaurant_id) REFERENCES public.pos_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 0MtOKpyyD9N4wuuddh6z2otVymwTP7aTxJSjinsC4bpfbhwQrbnGnLuQih7wNe4

